<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itenary</title>
</head>
<body>
    <h1> Here is your Detailed Itenary :</h1>

{% block content %}
<h1>{{ name }}</h1>
{{data | safe}}
{% endblock %}

<form name="myForm" action="#" method="post">

<div id="wrapper">
    <label for="yes_no_radio">Do you want to procede to buy the ticket ? :</label>
  <p>
  <input type="radio" name="yes_no" id="yes" value="yes">Yes</input>
  </p>
  <p>
  <input type="radio" name="yes_no" id="no" value="no">No</input>
  </p>
  <p>
  <button type="submit" value="Submit">Submit</button>
 </p>
  </div>
</form>

    
</body>
</html>