@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: var(--Montserrat-font);
}


button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
.container {
    background-color: black;
}

.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* background-color: aquamarine; */
    height: 80%;
}

.formElements {

    text-align: center;
    color: white;

}

.submitBtn {
    display: flex;
    justify-content: center;
}
button[type="Submit"] {
    font-family: var(--Montserrat-font);
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: var(--infoPane-color);
    border: none;
    border-radius: 2rem;
    letter-spacing: 2px;
    width: 7rem;
    height: 2rem;
    margin-bottom: 2rem;
}