<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cancellation</title>
    <link rel="stylesheet" href="../static/assets/css/cancel.css">
    <link rel="icon" href="../static/assets/img/goRailPng.png">
</head>

<body>

    <div class="mid-container">
        <div class="formContainer">
            <form action="#" method="POST" class="ticketForm">
                <div class="formElements">
                    <label for="departure">PNR</label>
                    <input type="text" id="pnr" name="pnr">
                <div class="loginButton">
                    <div>
                        <button type="submit" value="Submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>

</body>

</html>