<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itenary</title>
    <link rel="stylesheet" href="../static/assets/css/itenary.css">
    <link rel="icon" href="../static/assets/img/goRailPng.png">
</head>

<body>
    <div class="heading">
        <h1> Here is your Detailed Itenary :</h1>
    </div>

    {% block content %}
    <h1>{{ name }}</h1>
    {{data | safe}}
    {% endblock %}
    <div class="main-container">
        <form name="myForm" action="#" method="post">
            <div id="wrapper">
                <div id="wrapper-text">Do you want to procede to buy the ticket ? :</div>
                <div class="radio-wrapper">
                    <div class="radioBtn">
                        <input type="radio" name="yes_no" id="yes" value="yes"></input>
                        <label for="yes">Yes</label>
                    </div>
                    <div class="radioBtn">
                        <input type="radio" name="yes_no" id="no" value="no"></input>
                        <label for="no">No</label>
                    </div>
                </div>
                <div class="submitBtn">
                    <button type="submit" value="Submit">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>