<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/assets/css/login.css">
    <link rel="icon" href="../static/assets/img/goRailPng.png">
</head>

<body>


    <header>
        <img src="../static/assets/img/goRailPng.png">
    </header>
    <main>
        <div class="pencilSVG"><img src="../static/assets/img/pencilStrokeLeft.svg" alt="pencilLeft"></div>
        <div class="loginMiddle">
            <div class="loginText">
                <h1>Login to your account</h1>
                </div>
            <div class="error">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    
                    {% endif %}
                    {% endwith %}
            </div>
            <form action="#" method="POST" class="loginForm">
                <div class="emailDiv">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="passwordDiv">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="loginButton">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="pencilSVG"><img src="../static/assets/img/pencilStrokeRight.svg" alt="pencilRight"></div>
    </main>
    <div class="signUp">
        <h3>Don't have an account?<br>
            <a href="/signUp"><label>Sign up here.</label></a>
        </h3>
    </div>
</body>

</html>