<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/success.css">
    <title>Document</title>
</head>
<body>
    <div class="error">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        
        
        {% else %}
   

        <h1> your ticket has been booked !</h1>
        <h1> PNR : {{ pnr  }}</h1>

        {% endif %}
        {% endwith %}

        <h3>Return
            <a href="/"><label>Home</label></a>
        </h3>
    </div>


</body>
</html>