<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Details</title>
    <link rel="stylesheet" href="../static/assets/css/passenger.css">
    <link rel="icon" href="../static/assets/img/goRailPng.png">
</head>

<body>
    <main class="container">
        <nav class="navBar">
            <div class="navLogo"><img src="../static/assets/img/goRailPng.png"></div>
            <div class="navLinks-middle">
                <div><a href="/"><label>Home</label></a></div>
                <div><a href="/bookTicket"><label>Book Tickets</label></a></div>
                <div><a href="/costPredictor"><label>Cost Predictor</label></a></div>
                {% if not user.is_authenticated %}
                <div class="navButton-login"><button type="button"
                        onclick='window.location.href="/login"'>Login</button>
                </div>
                {% else %}
                <div class="navButton-login"><button type="button"
                        onclick='window.location.href="/passenger"'>{{ user.name }}</button></div>
                <div><a href="/logout"><label>Logout</label></a></div>
                {% endif %}
            </div>
        </nav>
        <div class="main-container">
            <div class="left-panel">
                <div class="left-row-1">
                    <img src="../static/assets/img/profilePic.svg" alt="profile pic">
                    <label>Hi {{ name }} !</label>
                </div>
                <div class="left-infoPane">
                    <div>
                        <div class="textLabel">Email</div>
                        <div>:</div>
                        <div class="dataField">{{ email }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Age</div>
                        <div>:</div>
                        <div class="dataField">{{ age }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Phone No</div>
                        <div>:</div>
                        <div class="dataField">{{ phoneno }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Address</div>
                        <div>:</div>
                        <div class="dataField">{{ address }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Gender</div>
                        <div>:</div>
                        <div class="dataField">{{ gender }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Category</div>
                        <div>:</div>
                        <div class="dataField">{{ category }}</div>
                    </div>
                </div>
            </div>
            <div class="right-panel">
                <div class="right-row-1">
                    <label>Here’s your Ticket Details:</label>
                    <img src="../static/assets/img/trainHome.png" </div>
                </div>
                <div class="right-infoPane">
                    <div>
                        <div class="textLabel">Departure From</div>
                        <div>:</div>
                        <div class="dataField">{{ pd }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Arrival At</div>
                        <div>:</div>
                        <div class="dataField">{{ pa }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Date of Travel</div>
                        <div>:</div>
                        <div class="dataField">{{ dat }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Train Name</div>
                        <div>:</div>
                        <div class="dataField">{{ tname }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Time of Departure</div>
                        <div>:</div>
                        <div class="dataField">{{timed }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Time of Arrival</div>
                        <div>:</div>
                        <div class="dataField">{{ timea }}</div>
                    </div>
                    <div>
                        <div class="textLabel">Cost</div>
                        <div>:</div>
                        <div class="dataField">{{ cost }}</div>
                    </div>
                    <div>
                        <div class="textLabel">PNR</div>
                        <div>:</div>
                        <div class="dataField">{{ pnr }}</div>
                    </div>
                </div>
            </div>
        </div>

        {% if tcheck %}
        <div class="loginButton">
            <div>
                <button type="submit" value="Submit" onclick='window.location.href="/cancel1"'>Cancel Ticket</button>
            </div>
        </div>
        {% endif %}
    

    </main>


</body>

</html>